.main{
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
   
} 

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
 
}


.title{
    position: relative;
    right: 25rem;
    top: 1rem;
   
} 

.box1{
    margin: 6rem;
    min-width: 40%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;
    border: #009ee3 2px solid;
    justify-content: center;
}

.input{
    width: 94%;
    height: 40px;
    border: 1px solid #282828;
    border-radius: 5px;
    margin: 1rem;
    position: relative;
    right: 1rem;
    font-size: 1rem;
    padding-left: 10px;
}

.button{
    width: 80%;
    height: 40px;
    color: white;
    background-color: #009ee3;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 2rem;
    text-transform: uppercase;
    box-shadow:  6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;
}

.button:hover{
    background-color: rgb(67,97,238);
}