.main{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ;
    height: calc(100vh - 50px);
    background-color: #f5f7f8;
   
} 

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
}

.grid{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    height: 10%;
    border-bottom: #282828 2px solid;
 }

 .subcontainer{
    overflow-y: scroll;
    width: 97%;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.width{
    width: 14%;
    display: grid;
    place-content: center;
    
}

.containertitle{
    display: flex;
    width: 97%;
    align-items: center;
    height: 100px;
}

.title{
    color: rgb(47,69,80);
    width: 60%;
    margin: 0 0 0 2rem;
} 

.date{
    height: 30px;
    border: none;
    margin: 0 1rem 0 0 ;
    font-size: 1.1rem;
   
}

.total{
    padding: .1em 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: #fff;
    width: 50px;
}



 @media screen and (max-width: 700px) {

   

    .container{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        position: relative; 
       
        
    }

    .grid{
        display: flex;
        flex-direction: column;
        border-right: #282828 2px solid;
        border-bottom: none;
        border-top: #282828 2px solid;
        width: 20%;
        height: 90%;
        align-items: center;
        justify-content: space-around;

    }

    .subcontainer{
        overflow-y: scroll;
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }

    .containertitle{
        border: #282828 solid 1px;
        width: 100%;
        height: 50px;
    }

    .containerview{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title{
        font-size: 1rem;
        margin: 0  0 0 .7rem;
        width: 50%;
    }

    .total{
        margin: 0 .6rem 0 0;
    }

    .width{
        width: 100%;
        display: grid;
        place-content: center;
        height: 14%;
        border-bottom: #282828 2px solid;
    }
}

.containerNoOrder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0 0 0;
    width: 100%;
}

.iconCompleted{
    width: 50px;
    height: 50px;
}

.message{
    margin: 1rem 0 0 0;
}



.boxpedido{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 2rem;
    padding: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    color: #282828;
    border-bottom: 1px solid rgb(0,0,0,0.1);
}

.boxpedido:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.maincontainer2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card2MainBox{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 100%;
    margin: .5rem 0 .5rem 0;
    background-color: #fff;
    border-radius: 5px;
}

.card2Container{
    color: #282828;;
    display: flex;
    width: 99%;
    justify-content: space-between;
    height: 14%;
    padding: .6rem 0 .6rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card2Title{
    position: relative;
    left: .8rem;
}

.card2Data{
    position: relative;
    right: .8rem;
}

.status{
    position: relative;
    right: .8rem;
    text-transform: uppercase;
    background-color: #29d884;
    color: #282828;
    padding: 2%;
    border-radius: 3px;
}

.statuscancel{
    position: relative;
    right: .8rem;
    text-transform: uppercase;
    background-color: #ff595a;
    color: #fff;
    padding: 2%;
    border-radius: 3px;
}







