.navbar{
    background-color: #fff;
    height: 92%;
    position: absolute;
    top: 50px;
    width: 20%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}

.ul{
    display: flex;
    flex-direction: column;
   justify-content: center;
   
}

.link{
    text-decoration: none;
    color: #282828;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    
}

.link:hover{
    background-color: #448aff;
    color: #fff;
    border-radius: 5px;

}

.icon{
    width: 1.2rem;
    height: 1.2rem;
    padding-right: 5px;
    margin-right:1rem 
  ;
    
}

.active{
    background-color: #448aff;
    color: #fff;
    border-radius: 5px;
}