.main{
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;

} 

.grid{
    position: relative;
    top: 2rem;
    width: 90%;
    height: 500px;
    left: 2rem;
   
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    position: relative;
    right: 25rem;
    top: 1rem;
    color: rgb(47,69,80);
} 