.main{
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;

} 

.grid{
    position: relative;
    top: 2rem;
    width: 90%;
    height: 500px;
    left: 2rem;
    border: 1px solid;
    border-radius: 5px;
}