@keyframes ldio-aepmgt5sg2r {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-aepmgt5sg2r div {
  position: absolute;
  animation: ldio-aepmgt5sg2r 1s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #e15b64;
  transform-origin: 40px 41px;
}
.loadingio-spinner-eclipse-lcd9pxowk6k {
  width: 71px;
  height: 71px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-aepmgt5sg2r {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.71);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-aepmgt5sg2r div { box-sizing: content-box; }


@keyframes ldio-j68xb17u2b8 {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-j68xb17u2b8 div {
  position: absolute;
  animation: ldio-j68xb17u2b8 1s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #e15b64;
  transform-origin: 40px 41px;
}
.loadingio-spinner-eclipse-dmliujohizm {
  width: 31px;
  height: 31px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-j68xb17u2b8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.31);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-j68xb17u2b8 div { box-sizing: content-box; }
