.navbar{
   
    background-color: #009ee3;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    box-shadow:  6px 6px 12px #bebebe,
             -6px -6px 12px #ffffff;
}

.ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.link{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size:20px;
}

.link:hover{
    color: rgb(53, 53, 182);
}

.icon{
    width: 1.2rem;
    height: 1.2rem;
    padding-right: 5px;
    position: relative;
    top: 5px;
    
}

.iconOnline{
    color: green;
    margin-right:5px ;
}

.iconOffline{
    color: red;
    margin-right:5px ;
}

.log{
    color: #009ee3;
    margin-right:5px ;
}


