.navbar{
   
    background-color: #009ee3;
    height: 50px; 
    width: 100%;
    transition: 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}

.subul{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.btnStatusTienda{
    padding: 5px  20px;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    color: #282828;
    text-transform: uppercase;
    border-radius: 5px;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: .2s ease;
}

.boxSpinner{
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    color: #282828;
    padding: 10px;
    font-size:20px;
    font-weight: 600;
}

.link:hover{
    color: rgb(53, 53, 182);
}

.icon{
    width: 1.4rem;
    height: 1.4rem;
    position: relative;
    top: 5px;
    left: 1.1rem;
    
}

.bars{
    width: 1.3rem;
    height: 1.3rem;
    position: relative; 
    left: 2.1rem;
}

.iconOnline{
    color: #10c15b;
    margin-right:5px ;
    width: 25px;
    height: 25px;
    transition: .2s ease;
}

.iconOffline{
    color: red;
    margin-right:5px ;
    width: 25px;
    height: 25px;
    transition: .2s ease;
}

.log{
    color: #009ee3;
    margin-right:5px ;
}

.logo{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
   
}

.logout{
  display: flex;
  align-items: center;
  width: 15%;
  height: 100%;
  justify-content: space-around;
}

.button{
    border: none;
    border-radius: 5px;
    background-color: #f5f7f8;
    padding: 10px 20px;
    color: red;
    font-weight: 800;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}



