.main{
    width: 82%;
    height: 100%;
    position: relative;
    left: 18%;
    background-color: #f5f7f8;
} 

.submain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
} 

.new{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 49%;
    height: 89vh;
    overflow-y: scroll;
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: column;
}


.noOrder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconNoOrder{
    width: 30px;
    height: 30px;
    margin-bottom: .5rem;
}

.cardMainBox{
    width: 95%;
    height: 55px;
    background-color: #ff595a;
    margin: .5rem 0 0 0;
    animation: blinkingBackground 2s infinite;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #fff;

}

.card2MainBox{
    width: 95%;
    height: 90px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: .5rem 0 0 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-decoration: none;
    background-image: linear-gradient(#c7fedb,#fbd686);
    color: #292929;
    

}

.subcard2box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.subcard2boxtime{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
}

@keyframes blinkingBackground{
    0%		{ transform: scale(1);}
    25%		{transform: scale(1.04);}
}

.iconCircle{
    margin: 0 .3rem 0 0;
}

.method{
    padding: 5px;
    border-radius: 5px;
    color: #3f7931;
    text-transform: capitalize;
}

.readyto{
    padding: 10px 13px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0,0,0,0.1);
}

.font{
    font-size: 1rem;
}

.sendConfirm{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* color: #29d884  ;
    background-color: transparent; */
}