.main{
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
} 

.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    position: relative;
    right: 28rem;
    top: 0;
    color: rgb(47,69,80);
}

.box1{
    margin: 1rem;
    width: 70%;
    height: 180px;
    background-color: white;
    border-radius: 5px;
    box-shadow:  6px 6px 12px #bebebe,
             -6px -6px 12px #ffffff;
}

.box2{
   
    width: 80%;
    height: 310px;
    background-color: white;
    border-radius: 5px;
    box-shadow:  6px 6px 12px #bebebe,
             -6px -6px 12px #ffffff;
}

.insidebox{
    display: flex;
}

.box_title{
    border-bottom: 1px solid;
    border-color: rgb(233,236,239);
    padding: 10px;
    color: rgb(47,69,80);
}

.link{
    text-decoration: none;
    padding: 10px;
}

.link:hover{
    color: rgb(128,161,212);
}

.icon{
    padding-right: 6px;
}

.containerIcons{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.graphbox{
    display: flex;
}

.graph{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 2rem;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
}

.index{
    margin: 5px;
    color: green;
}

.graphTitle{
    color: rgb(47,69,80);
}

.button{
    position: relative;
    top: 3px;
    left: 30.5rem;
}