.main{
    width: 80%;
    height: 100vh;
    position: relative;
    left: 20%;
   
} 

.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   
    top: 2rem;
}

.title{
    position: relative;
    left: 1rem;
   
    color: rgb(47,69,80);
}

.box1{
    margin: 1rem;
    width: 70%;
    height: 180px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box2{
   
    width: 80%;
    height: 20%;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.insidebox{
    display: flex;
}

.box_title{
    border-bottom: 1px solid;
    border-color: rgb(233,236,239);
    padding: 10px;
    color: rgb(47,69,80);
}

.link{
    text-decoration: none;
    padding: 10px;
}

.link:hover{
    color: rgb(128,161,212);
}

.icon{
    padding-right: 6px;
}

.containerIcons{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.graphbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.graph{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 2rem;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    width: 120px;
    height: 50px;
}

.index{
    margin-top: 10px;
    color: green;
    font-size: 1.1rem;
}

.graphTitle{
    color: rgb(47,69,80);
    font-size: 1.4rem;
}

.button{
    position: relative;
    top: 3px;
    left: 30.5rem;
}

.navlink{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 97.8%;
    padding: 10px;
   
    color: rgb(47,69,80);
}

.navlink:hover{
   background-color: #c1c1c1;
   border-radius: 5px;
}

.grid{
   padding: 10px;
    width: 97.8%;
   display: flex;
   justify-content: space-around;
   position: relative;
   font-size: 1.1rem;
 
   border-bottom: #c1c1c1 1px solid;
}