@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(233,236,239);
  max-height: 100vh;
}

html{
  max-height: 100vh;
  color: #282828;
}

*{
  margin: 0;
  padding: 0;
  max-height: 100vh;
}
